<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="GPS Tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPSTracker">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_h5A5trVTiU7JH-kBKmzlMV7kEd3MzFw" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="GPS Tracker"
            android:theme="@style/Theme.GPSTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
